* {
  font-family: 'Inter', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  border: none;
  cursor: pointer;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.title-sz-48 {
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 60px;
  color: #18216D;
}

li {
  list-style-type: none;
}

.header-container {
  max-width: 1400px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 41px 0px 65px 0px;
}

.header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  list-style-type: none;
}

.header__link {
  text-decoration: none;
  color: #18216D;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 110px;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
}

.header__logo-link {
  color: #18216D;
  margin-left: 7px;
  text-decoration: none;
}

.header__nav-list {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 507px;
}

.header__button {
  padding: 16px 27px;
  background: #18216D;
  border-radius: 6px;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  color: #ffffff;
  margin-left: 45px;
}

.hero {
  margin-bottom: 120px;
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero__title {
  width: 498px;
  margin: 0;
  padding: 60px 0px 0px 0px;
  margin-bottom: 16px;
}

.hero__description {
  margin: 0;
  margin-bottom: 34px;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 28px;
  color: #18216D;
}

.hero__button {
  padding: 23px 38px;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 21px;
  color: #18216D;
  background-color: #00ECD0;
  border-radius: 6px;
}

.collaborate__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
}

.collaborate__text {
  max-width: 500px;
}

.collaborate__description {
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 50px;
  color: #18216D;
}

.collaborate__rating {
  min-width: 337px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.collaborate__rating-item {
  min-height: 134px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.collaborate__count {
  color: #18216D;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 70px;
}

.collaborate__count-description {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  color: #18216D;
}

.sponsors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 130px;
}

.features {
  padding-bottom: 130px;
}

.features__title {
  margin-bottom: 12px;
  text-align: center;
}

.features__description {
  margin: auto;
  max-width: 542px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: #18216D;
  margin-bottom: 50px;
}

.features__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.features__card {
  max-width: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.features__card-title {
  margin-bottom: 15px;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #18216D;
}

.features__card-description {
  margin-bottom: 30px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #18216D;
  opacity: 0.6;
}

.features__card-more {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 16px;
  color: #18216D;
}

.features__card-img {
  margin-bottom: 30px;
}

.interface {
  background-color: #f7fffc;
}

.interface__container {
  max-width: 1270px;
  margin: auto;
  padding: 78px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.interface__title {
  padding-top: 65px;
  margin-bottom: 15px;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 48px;
  color: #18216D;
}

.interface__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 90px;
}

.interface__description {
  margin-bottom: 40px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #18216D;
  opacity: 0.8;
}

.interface__button {
  width: 168px;
  padding: 16px 28px;
  text-align: center;
  background: #005FEC;
  border-radius: 6px;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 21px;
  color: #ffffff;
}

.benefits__container {
  padding-top: 130px;
  padding-bottom: 130px;
}

.benefits__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.benefits__text {
  max-width: 500px;
  max-height: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.benefits__interface {
  position: relative;
  border-radius: 50px;
}

.benefits__img-main {
  border-radius: 20px;
  width: 400px;
  height: 450px;
  -o-object-fit: cover;
     object-fit: cover;
}

.benefits__img-helper {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 99;
  border-radius: 10px;
  border: 1px solid #FFFFFF;
}

.benefits__img-record {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
  padding: 7px 16px;
  width: 85px;
  height: 30px;
  background-color: #fff;
  position: absolute;
  right: 20px;
  top: 20px;
}

.benefits__img-record-text {
  margin-left: 5px;
}

.benefits__decoration {
  position: absolute;
  bottom: -13px;
  left: -20px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -1;
}

.benefits__user-avatar {
  width: 36px;
  height: 36px;
}

.benefits__title {
  margin-bottom: 16px;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 48px;
  color: #18216D;
}

.benefits__description {
  margin-bottom: 30px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: #18216D;
}

.benefits__item {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.benefits__item-text {
  margin-left: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  color: #18216D;
}

.benefits__button {
  background: #005FEC;
  color: #ffffff;
  border-radius: 6px;
  padding: 15px 30px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
}
