* {
  font-family: 'Inter', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header-container {
  max-width: 1400px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 41px 0px 65px 0px;
}

.header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  list-style-type: none;
}

.header__link {
  text-decoration: none;
  color: #18216D;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 110px;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
}

.header__logo-link {
  color: #18216D;
  margin-left: 7px;
  text-decoration: none;
}

.header__nav-list {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 507px;
}

.header__button {
  padding: 16px 27px;
  background: #18216D;
  border-radius: 6px;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  color: #ffffff;
  margin-left: 45px;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.hero {
  margin-bottom: 120px;
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero__title {
  width: 498px;
  margin: 0;
  padding: 60px 0px 0px 0px;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 60px;
  color: #18216D;
}

.hero__description {
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 28px;
  color: #18216D;
}
